:root{
  --mainColor:#606B56;
  --secondaryColor:#515a48;
  
  --borderColor:#161914;
  
  --mainText:#fff;
  --secondaryText:#eeeeee;
  
  --themeDotBorder:#FFF;
  
  --previewBg:rgb(81, 90, 72, 0.8);
  --previewShadow:#2a2f25;
  
  
  --buttonColor:#669966;
}
