:root{
  --mainColor:#46344E;
  --secondaryColor:#382a3f;
  
  --borderColor:#1d1520;
  
  --mainText:#fff;
  --secondaryText:#eeeeee;
  
  --themeDotBorder:#FFF;
  
  --previewBg:rgb(29, 21, 32, 0.8);
  --previewShadow:#2b202f;
  
  
  --buttonColor:#8534a3;
}
